.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    background-color: white;
    /* width: 75px; */
    border-right-color: gray;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    display: flex;
    height: 74px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(222, 220, 220);
}

.sidebar-link img{
    height: 24px;
}

.sidebar-link div{
    font-size: 10px;
}